<%- include header.ejs %>
<footer class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
    <h6 class="navbar-text">© 2022 Nate Coolidge</h6>
    <h6 class="navbar-text">Contact me at <a href="nate@coolidge.ml">nate@coolidge.ml</a></h6>
    </div>
</footer>
