<%- include header.ejs %>
<footer class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
    <h6 class="navbar-text">© 2022 Nate Coolidge</h6>
    <h6 class="navbar-text">Contact me at <a href="nate@coolidge.ml">nate@coolidge.ml</a></h6>
    </div>
</footer>
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
