<!--Nate Coolidge - 100749708-->
<%- include header.ejs %>
<footer class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
    <h6 class="navbar-text">© 2022 Nate Coolidge</h6>
    <a class="navbar-brand" href="https://www.linkedin.com/in/nate-coolidge-34baa8203/"><i class="fa-brands fa-linkedin"></i></a>
    <a class="navbar-brand" href="https://github.com/ncoolidgotu"><i class="fa-brands fa-github"></i></a>
    <a class="navbar-brand" href="https://twitter.com/CoolidgeNate"><i class="fa-brands fa-twitter"></i></a>
    <h6 class="navbar-text">Contact me at <a href="mailto:nate@coolidge.ml">nate@coolidge.ml</a></h6>
    </div>
</footer>
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();  //Runs the Animation On Scroll script from AOS package
</script>
</body>
</html>
