<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<main>
    <article>
        <section>
            <h1>WFH Tracker</h1>
            <h2>Python Personal Project - WIP</h2>
            <p>For tracking hours worked remotely automatically. Monitors mouse movement to see if employee is working. Hours are tracked by day in SQLite database. <a href="https://github.com/ncoolidgotu/WFHTracker">Click here to view source code.</a><p>
            <aside>
                <img src="https://www.jotform.com/blog/wp-content/uploads/2020/05/work-from-home-featured-02.png" class="img1" alt="Person working remotely from home">
            </aside>
        </section>
        <section>
            <h1>PyOS</h1>
            <h2>Python High School Project</h2>
            <p>Micro operating system built entirely with Python. Demonstrates the use of the pickle serialization in Python. <a href="https://github.com/ncoolidgotu/PyOS">Click here to view source code.</a><p>
            <aside>
                <img src="/Assets/images/pyos.png" class="img2" alt="Screenshot of PyOS application">
            </aside>
        </section>
        <section>
            <h1>Restaurant Database</h1>
            <h2>Python University Project</h2>
            <p>Restaurant management system. Demonstrates the use of the Object Relational Mapping and PyQt6 GUI in Python. Made in collaboration with Saief Shams Murad, Christina Cho, and Anthony Chen <a href="https://github.com/ncoolidgotu/Restaurant">Click here to view source code.</a><p>
                <aside>
                    <video width="720" height="480" controls preload="auto" autoplay loop muted id="video">
                        <source src="/Assets/videos/restaurant.mp4" type="video/mp4">
                        <source src="/Assets/videos/restaurant.ogv" type="video/ogg">
                    </video>
                </aside>
        </section>
    </article>
</main>
<%- include ./partials/footer.ejs %>
