@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Dirt&display=swap');
/*Nate Coolidge - 100749708*/

@media screen and (min-width: 960px){
    /*Desktop CSS goes here*/
    .mobileOnly{ display: none;}
    .phoneOnly{ display: none;}
    #home_images .img1
    {
        float: left;
        position: relative;
        margin-top: 5%;
        margin-left:5%;
        animation: fade_in 5s;
        border-radius: 25%;
        width:20%;
    }

    #home_images .img2
    {
        float: left;
        position: relative;
        animation: fade_in 5s;
        border-radius: 25%;
        margin-top:3%;
        margin-left:2%;
        width:40%;
    }

    aside .img1
    {
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    animation: fade_in 5s;
    border-radius: 25%;
    width:330px;
    }

    aside .img2
    {
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    animation: fade_in 5s;
    border-radius: 1%;
    width:330px;
    }

    aside .img3
    {
    position: relative;
    margin-top: 1%;
    animation: fade_in 5s;
    border-radius: 10%;
    margin-left: 1%;
    width:400px;
    height: 300px;
    }

    aside video
    {
    margin-left: 2%;
    }

    .intro_vid
    {
        float: right;
        position: absolute;
        left:600px;
        width: 600px;
        height: auto;
        border-radius: 10%;
    }
    .typewriter h2
    {
        width: 38ch;
        position:relative;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        margin-top:20px;
        margin-left: 30px;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    /*Tablet CSS goes here*/
    .phoneOnly{ display: none;}
    #home_images .img1
    {
        float: left;
        position: relative;
        margin-top: 5%;
        margin-left:5%;
        animation: fade_in 5s;
        border-radius: 25%;
        width:20%;
    }

    #home_images .img2
    {
        float: left;
        position: relative;
        animation: fade_in 5s;
        border-radius: 25%;
        margin-top:3%;
        margin-left:2%;
        width:40%;
    }

    aside .img1 /*classes for article images*/
    {
        position: relative;
        margin-top: 1%;
        margin-left: 2%;
        animation: fade_in 5s;
        border-radius: 25%;
        width:330px;
    }

    aside .img2
    {
        position: relative;
        margin-top: 1%;
        margin-left: 2%;
        animation: fade_in 5s;
        border-radius: 1%;
        width:330px;
    }

    aside .img3
    {
        position: relative;
        margin-top: 1%;
        animation: fade_in 5s;
        border-radius: 10%;
        margin-left: 3%;
        width:25%;
    }
    aside video /*Videos in article*/
    {
        width: 80%;
        margin-left: 2%;
        height: auto;
        border-radius: 20px;
    }
    .typewriter h2
    {
        width: 38ch;
        position:relative;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        margin-top:20px;
        margin-left: 30px;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px){
    /*Phone CSS goes here*/
    .desktopOnly{ display: none;}
    .notOnPhone{ display: none;}
    #home_images .img2
    {
        float: left;
        position: relative;
        margin-top: 5%;
        margin-left:5%;
        animation: fade_in 5s;
        border-radius: 25%;
        width:90%;
    }
    aside .img1 /*Images within the articles*/
    {
        position: relative;
        margin-top: 1%;
        margin-left: 2%;
        animation: fade_in 5s;
        border-radius: 25%;
        width: 90%;
        height: auto;
    }

    aside .img2
    {
        position: relative;
        margin-top: 1%;
        margin-left: 2%;
        animation: fade_in 5s;
        border-radius: 1%;
        width: 90%;
        height: auto;
    }

    aside .img3
    {
        position: relative;
        margin-top: 1%;
        animation: fade_in 5s;
        border-radius: 10%;
        margin-left: 3%;
        width:200px;
    }
    aside video
    {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .typewriter h2
    {
        width: 38ch;
        position:relative;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        margin-top:20px;
        margin-left: 30px;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 3.8vw;
    }
}

@keyframes fade_in /*For animating the images*/
{
    0% {transform:translateY(-200px); opacity:0}
    100% {transform:translateY(0px); opacity:1}
}

body 
{ 
    font-family: Verdana, Geneva, Arial, sans-serif; /*extra fonts in case not in user's system*/
    background:linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    min-height: 100vh;/*forces body to fill entire page no matter screen size*/
    margin: 0;
    padding-top:90px;
    padding-bottom: 120px;
}

.phoneOnly /*Class which only is used for phone displays. Hidden in all other CSS files*/
{
    font-family: monospace;
    font-size: 2vw;
    margin-left: 5%;
}


nav img
{
    float:left;
    margin-left: 1%;
    margin-right: 1%;
    width: 50px;
    border-radius:80px;
    margin-top: 0.7%;
    margin-bottom: 0.5%;
}

#home_images
{
    float: left;
    width:100%;
}

.social_img
{
    width:80px;
    height: auto;
    padding: 10px;
}

section
{
    padding-bottom: 100px;
}
article h1
{
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    margin-left: 2%;
    margin-top: 10px;
}
article h2

{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 2%;
    font-weight: bold;
}

article p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 2%;
    margin-right:15%;
    margin-top: 0.5%;
}

article li
{
    margin-left: 3%;
}


#contact /*contact form box*/
{
    margin-left: 2%;
    margin-top: 2%;
    animation: fade_in 1.5s;
    width:90%;
    height:600px;
    height:auto;
    background: transparent;
    border-radius: 10%;
    font-weight: bold;
}

#contact h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left:15%;
    font-size: 24px;
}

#contact form
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    margin-left:15%;
    font-size: 18px;

}

#contact textarea 
{
    width: 80%;
    height: 150px;
    background-color: grey;
    color: white;
    font-size: 14px;
}

#contact input 
{
    width: 80%;
    background-color: grey;
    color: white;
    font-size: 14px;
    padding: 12px 12px;
    box-sizing: border-box;
}

#submit:hover /*When user clicks submit button on form*/
{ 
    color: green; 
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
}

#submit
{ 
    width: 150px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    padding: 5px;
    display: block;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); 
}
.typewriter
{
    float:left;
    position: relative;
}

.typewriter h3
{
    width: 78ch;
    position:relative;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 30px;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2vw;
}

footer
{
    float: left;
}

/*---------------Code below is form https://codepen.io/denic/pen/GRoOxbM------------------*/

@keyframes typing 
{
    from 
    {width: 0}
}
@keyframes blink 
{
    50% {border-color: transparent}
}

.clear
{
    clear: both;
}