@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;900&display=swap');

/*Nate Coolidge - 100749708*/

@media screen and (min-width: 960px){
    /*Desktop CSS goes here*/
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    
}

@media screen and (max-width: 480px){
    /*Phone CSS goes here*/
    
}

body 
{ 
    font-family: 'Lexend', sans-serif;
    background:linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    min-height: 100vh;/*forces body to fill entire page no matter screen size*/
    margin: 0;
    padding-top:90px;
    padding-bottom: 120px;
}

footer
{
    float: left;
}


nav
{
    font-family: 'Lexend', sans-serif;
}

.container h1
{
    font-family: 'Lexend', sans-serif;
    font-weight: 900;
}

.container h2
{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.dashboard
{
    padding-right: 200px;
}




.navimg
{
    width: 50px;
    padding-right: 10px;
}

.clear
{
    clear: both;
}